.chart {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}

.main text, .legend text {
    font: 10px sans-serif;
}

.chart {
    border-color: green;
    border-style: solid;
    border-width: 1px;
}

.main {
    border-color: orange;
    border-style: solid;
    border-width: 1px;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.svg-container circle {
    fill: steelblue;
}

.brush .extent {
    stroke: #bbb;
    fill-opacity: .05;
    shape-rendering: crispEdges;
}

circle.hidden {
    fill: #ddd !important;
}

circle.marked {
    stroke: #222 !important;
    stroke-width: 2;
}

circle.hidden.marked {
    stroke: #bbb !important;
    stroke-width: 2;
}


