/* OVERRIDE GRID */

div.imxt-vista {
    font-size: 13px;
    border-radius: 5px;
    background: #002451;
    border: 1px solid #00469e;
}

div.imxt-container1 {
    border-radius: 5px;
}

div.imxt-vista td.imxt-cell {
    border-bottom: 1px solid #00469e;
    border-right: 1px solid #00469e;
}

div.imxt-vista div.imxt-head-container {
    border: none;
    border-bottom: 1px solid #00469e;
}

div.imxt-vista div.imxt-head-container1 {
    background: none;
}

div.imxt-vista table.imxt-head th {
    border-right: 1px solid #00469e;
}

div.imxt-vista table.imxt-head th a.imxt-sort-header {
    color: white;
}

div.imxt-vista table.imxt-head tr.imxt-columns {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.05);
}

div.imxt-vista table.imxt-head th {
    padding: 5px 2px 5px 4px;
    font-weight: bold;
    color: white;
    height: 21px;
}

table.imxt-head th a.imxt-handle {
    width: 3px;
    background-color: transparent;
}

div.imxt-vista table.imxt-head th div.imxt-a {
    padding: 0;
}

div.imxt-vista table.imxt-head th.imxt-prelight {
    background-image: none;
    background-color: #004aa6;
}

div.imxt-vista table.imxt-head th.imxt-prelight a.imxt-sort-header:hover {
	color: white;
}

div.imxt-vista table.imxt-head th.imxt-sorted {
    background-image: none;
    background: transparent;
}

div.imxt-vista table.imxt-head th.imxt-prelight a.imxt-sort-header:hover {
	color: white;
}

div.imxt-vista tr.imxt-grid-row:hover td.imxt-cell,
div.imxt-vista tr.imxt-grid-row:hover td.imxt-sorted {
	background-color: #004aa6;
}

div.imxt-vista tr.imxt-selected td.imxt-cell,
div.imxt-vista tr.imxt-selected td.imxt-sorted {
    background-color: #004aa6!important;
    border-bottom: 1px solid #00469e;
}

div.imxt-vista tr.imxt-selected:hover td.imxt-cell,
div.imxt-vista tr.imxt-selected:hover td.imxt-sorted {
    background-color: #004aa6;
    border-bottom: 1px solid #00469e;
}

div.imxt-vista tr.imxt-even td.imxt-sorted,
div.imxt-vista tr.imxt-odd td.imxt-sorted {
    background: transparent;
}

div.imxt-vista td.imxt-cell {
    padding: 8px 2px 8px 4px;
    height: 46px;
}

div.imxt-vista td.imxt-cell i.icon {
    height: auto;
}

div.imxt-vista td.imxt-cell i.icon.edit {
    margin-top: 3px;
}

div.imxt-vista tr.imxt-odd {
    background-color: rgba(0, 0, 50, 0.02);
}

div.imxt-navigator-toolbar {
    font-size: 13px;
}

div.imxt-bottom-toolbar-container div.imxt-navigator-toolbar {
    border-top: 1px solid #00469e;
}

div.imxt-navigator-toolbar {
    background-color: #002451;
}

div.imxt-no-records-toolbar {
    font-size: 13px;
    border-top: 1px solid #00469e;
    padding-left: 0.5em;
    background-color: #002451;
    padding: 0.2em 0.5em;
}

span.imxt-navigator-float span.imxt-paging-navigator-button,
a.imxt-paging-navigator-button:hover {
    color: #eee;
    background-color: #003b84;
    border: 1px solid #eee;
    border-radius: 3px;
}

a.imxt-paging-navigator-button {
    color: #eee;
}

div.imxt-paging-navigator em,
span.imxt-navigator-float span.imxt-paging-navigator-button em {
    color: #eee;
}

div.imxt-vista tr.imxt-odd {
	background-color: #003b84;

}

div.imxt-vista tr.imxt-even {
	background-color: #002f6b;
}

.oneColorGrid table tr.imxt-odd {
    background-color: #002f6b;
}

.rowActionsPanel ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}