
.loginPage .column {
    width: 400px;
    margin-top: 50px;
}

.loginPage label {
    text-align: left;
}

.ui.modal.upper {
    top: 20%;
}

.ui.modal > .header {
    padding: 1rem 2rem;
    font-size: 1.4em;
}

.ui.modal> .ui.form> .content {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    padding: 2rem;
}

.ui.modal> .ui.form> .actions {
    border-bottom-left-radius: 0.2857rem;
    border-bottom-right-radius: 0.2857rem;
}

