li {
    list-style-type: none;
}

.notebookContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    height: 0px;
}

.notebook-canvas-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.2857rem;
    transition: box-shadow 0.2s ease;
    position:absolute;
    z-index: 100;
}

.notebook-canvas-item:hover {
    box-shadow: 0px 0px 5px #999!important;
    -o-box-shadow: 0px 0px 5px #999!important;
    -webkit-box-shadow: 0px 0px 5px #999!important;
    -moz-box-shadow: 0px 0px 5px #999!important;
    border: 1px solid #aaa!important;
}

.notebook-canvas-item-content {
    width: 230px;
}

.notebook-canvas-item-content > .titleBar {
  background: #eeeeee;
  margin-bottom: 5px;
  padding: 5px 3px 5px 10px;
  box-shadow: none;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
}

.notebook-canvas-item-content > .content {
  background: none;
  margin: 0em;
  padding: 0.5em;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0em;
}

.notebook-canvas-item-content > .content:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
}

.notebook-canvas-item-content > .content > .name {
    height: 18px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notebook-canvas-item-content .icon.remove,
.notebook-canvas-item-content .icon.play,
.notebook-canvas-item-content .icon.setting {
    visibility: hidden;
    margin-right: 0 !important;
}

.notebook-canvas-item-content:hover .icon.remove,
.notebook-canvas-item-content:hover .icon.play,
.notebook-canvas-item-content:hover .icon.setting {
    visibility: visible;
    margin-right: 0 !important;
}

.notebook-canvas-item-content .small.input > input[type=text] {
    padding: .5em 1em!important;
}

.notebook-canvas-item-content > .extra {
  max-width: 100%;
  min-height: 0em !important;
  position: static;
  background: none;
  width: auto;
  margin: 0em 0em;
  padding: 0.75em 1em;
  top: 0em;
  left: 0em;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.notebook-canvas-item-content > .extra a {
  color: rgba(0, 0, 0, 0.4);
}

.notebook-canvas-item-content > .extra a:hover {
  color: #00b2f3;
}

.notebook-canvas-item-content [class*="left floated"]  {
  float: left;
}

.notebook-canvas-item-content [class*="right floated"]{
  float: right;
}

.notebook-canvas-item-content > form > .actions {
    margin-top: 10px;
    text-align: right;
}

.fileUploadInput {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 195px;
    height: 20px;
    font-size: 11px;
}

.tableCellContent {
    width: auto;
    max-width: 550px;
    overflow-x: scroll;
}

div.imxt-vista div.imxt-body-container1 {
   height: 170px;
    overflow-y: scroll;
   /* max-width: 500px; */
   width: inherit;
}

.tableCell {
    overflow: auto;
    padding: 10px;
    width: 500px;
    min-width: 325px!important;
    min-height: 270px!important;
}

div.ui-resizable-handle.ui-resizable-e,
div.ui-resizable-handle.ui-resizable-s {
    display: none!important;
}

.column.flex-column-2.right-column,
.column.flex-column-1.right-column,
.column.flex-column-1.left-column {
    padding-top: 0!important;
}

.ui.segment.notebookContainer {
    margin-top: 0!important;
}

.notebookListPanel,
.notebookCellsPanel {
    overflow-y: auto;
    height: 0;
}

.ui.menu.text.notebookMenu {
    margin-bottom: 0px!important;
    margin-top: 0!important;
    text-align: right;
    margin-right: -7px;
    float: right;
    font-size: 1rem;
}

.ui.menu.text.nbListMenu {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: right;
    margin-right: -7px;
    float: right;
    font-size: 1rem;
}

.ui.menu.text.notebookMenu a,
.ui.menu.text.nbListMenu a {
    font-size: 13px;
}

.nbListTable .icon {
    visibility: hidden;
}

.nbListTable tr:hover .icon {
    visibility: visible;
}

.nbListTable tr:hover {
    background-color: #f7f7f7;
}

.nbListTable tr.selected .icon {
    visibility: visible;
}

.nbListTable tr.selected td {
    font-weight: bold;
}

.nbListTable td {
    padding: .6em .4em!important;
}

.nbListTable tr:last-child td {
    padding-bottom: .4em!important;
}

.plumbContainer {
    height: initial;
}

.innerNbContainer {
    display: flex;
    flex: 1;
    overflow: auto;
}

.nbName,
.nbOwner {
    margin: 0!important;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 15px;
    white-space: nowrap;
    display: inline-flex;
    max-width: 30%;
}


.nbBar {
    margin-top: 6px!important;
    margin-bottom: 0!important;
    padding: 0;
    border: 0!important;
}

.nbBar td {
    padding: 0!important;
    border: 0!important;
}

.cellPopup {
    width: 200px;
}

.icon.grey.remove {
    color: #777!important;
}

.notebook-canvas-item-content > .ui.form.content > ul {
    padding: 0;
}

.sketcher-thumb {
    width: 215px;
}

.nbListTable td.iconTd {
    padding-right: 0!important;
}