
.main text, .legend text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.svg-container circle {
    fill: steelblue;
}

.brush .extent {
    stroke: #bbb;
    fill-opacity: .05;
    shape-rendering: crispEdges;
}

circle.deselected {
    fill: #ddd !important;
}

circle.marked {
    stroke: #222 !important;
    stroke-width: 2;
}

circle.deselected.marked {
    stroke: #bbb !important;
    stroke-width: 2;
}



