.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.versionTreeCard {
    width: 80px;
    height: 50px;
    border: thin solid silver;
    padding: 4px;
    font: 12px sans-serif;
}





