.scatterplot .chart {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}

.scatterplot .main text, .legend text {
    font: 10px sans-serif;
}

.scatterplot .chart {
    border-color: green;
    border-style: solid;
    border-width: 1px;
}

.scatterplot .main {
    border-color: orange;
    border-style: solid;
    border-width: 1px;
}

.scatterplot .axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.scatterplot .svg-container circle {
    fill: steelblue;
}

.scatterplot .brush .extent {
    stroke: #bbb;
    fill-opacity: .05;
    shape-rendering: crispEdges;
}

.scatterplot circle.deselected {
    fill: #ddd !important;
}

.scatterplot circle.marked {
    stroke: #222 !important;
    stroke-width: 2;
}

.scatterplot circle.deselected.marked {
    stroke: #bbb !important;
    stroke-width: 2;
}

.scatterplot g.element line {
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.scatterplot g.element line.deselected {
    stroke: #ddd !important;
}


